# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Lambda ZIPs (генерируются автоматически)
lambdas/*.zip

# Python
__pycache__/
*.pyc